.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
cov.xml
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
.env
!/tests/**/.env
docs_build
site_build
venv
.venv
.pdm-build
build

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

.codspeed