APP_NAME="PyrannicApp"
APP_ENV="local"
APP_DEBUG=True

APP_LOCALE="en"
APP_FALLBACK_LOCALE="en"

DB_CONNECTION="sqlite"
DB_DRIVER="sqlite"
# DB_HOST="localhost"
# DB_PORT=3306
# DB_DATABASE="pyrannic"
# DB_USERNAME="root"
# DB_PASSWORD=
